<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli Libro</title>
</head>
<body>
    <h1 th:text="${libro.titolo}"></h1>
    
    <p>
      <strong>Anno di Pubblicazione:</strong> 
      <span th:text="${libro.annoPubblicazione}"></span>
    </p>

    <!-- Ciclo per mostrare tutte le copertine -->
    <div>
      <div th:each="immagine : ${libro.copertina}">
        <img 
          class="book-image" 
          th:src="@{${immagine.path}}" 
          th:alt="pisellone" 
          style="max-width: 200px; max-height: 300px; margin: 5px;"
        />
      </div>
    </div>
    <p><strong>Autori:</strong></p>
    <nav>
        <ul>
            <li>
              <a 
                th:each="autore : ${libro.autori}" 
                th:href="@{'/autori/' + ${autore.id}}" 
                th:text="${autore.nome}"
              ></a>
            </li>             
        </ul>
    </nav>
<div id="recensioni">
    <h2>Recensioni</h2>
   

    <div id="formRecensione" th:if="${canReview}">
        <h3>Aggiungi una Recensione</h3>
        <form th:action="@{/libri/{id}/recensioni(id=${libro.id})}"
        th:object="${nuovaRecensioneDTO}" th:method="post">
        <label for="voto">Voto (1-5):</label>
        <input type="number" id="voto" name="voto" min="1" max="5" required>
        <label for="titolo">Titolo:</label>
        <input type="text" id="titolo" name="titolo" required>  
        <label for="testo">Testo:</label>
        <textarea id="testo" name="testo" rows="4" required></textarea>
        <button type="submit">Aggiungi Recensione</button>
    </form>
    </div>

    <div th:if="${libro.recensioni.isEmpty()}">
        <p>Non ci sono recensioni per questo libro.</p>
    </div>
    <div th:each="recensione : ${libro.recensioni}">
        <div class="recensione">
            <p><strong>Voto:</strong> <span th:text="${recensione.voto}"></span></p>
            <p><strong>Titolo:</strong> <span th:text="${recensione.titolo}"></span></p>
            <p><strong>Testo:</strong> <span th:text="${recensione.testo}"></span></p>
            <p><strong>Utente:</strong>
                <span th:if="${recensione.utente != null}"
                      th:text="${recensione.utente.nome + ' ' + recensione.utente.cognome}"></span>
                <span th:unless="${recensione.utente != null}">Utente sconosciuto</span>
            </p>
            
              
        </div>
    </div>
</div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/libri">Libri</a></li>
            <li><a href="/autori">Autori</a></li>
        </ul>
    </nav>
</body>
</html>
